﻿@using Suno.Acl.Models.Account;
@{
    ViewBag.Title = "Đặt lại mật khẩu | SUNO.vn";
    Layout = "_Layout_Login";
}

<div class="col-md-6 col-lg-5 col-sm-8 mx-auto">
    <div class="card border-none">
        <div class="card-body">
            <div class="mt-4">
                <h3>Gửi email thành công</h3>
                <span>Email đặt lại mật khẩu đã được gửi đi, bạn vui lòng kiểm tra và làm theo hướng dẫn trong email <b>@TempData["email"]</b></span>
                <br />
                <small><i>(nếu không tìm thấy trong hộp thư vui lòng tìm trong hộp thư spam)</i></small>
                <br />
                <button name="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-primary float-right">Quay lại đăng nhập</button>
            </div>
        </div>
    </div>
@*    <p class="text-white center">Hỗ trợ: 02871.088.188</p>*@
</div>