﻿@using Suno.Acl.Models.Account;
@model SignupViewModel
@{    
    Layout = "~/Views/Shared/_Layout_Signin.cshtml";
}

<form asp-action="SignupExternal" class="login100-form validate-form">
    <input type="hidden" asp-for="ReturnUrl"/>
    <input type="hidden" asp-for="ProviderName"/>
    <input type="hidden" asp-for="ProviderSubjectId"/>
    <span class="login100-form-title p-b-43">
        đăng ký mới
    </span>

    @Html.Partial("_ValidationSummary")
    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" asp-for="Email" disabled>
        <span class="focus-input100"></span>
        <span class="label-input100">Email</span>
    </div> 

    <div class="wrap-input100">
        <input class="input100" type="text" asp-for="FullName">
        <span class="focus-input100"></span>
        <span class="label-input100">Họ tên</span>
    </div>
    <div class="wrap-input100">
        <input class="input100" type="text" asp-for="CompanyName">
        <span class="focus-input100"></span>
        <span class="label-input100">Tên công ty</span>
    </div>
    <div class="wrap-input100">
        <input class="input100" type="text" asp-for="StoreName">
        <span class="focus-input100"></span>
        <span class="label-input100">Tên cửa hàng</span>
    </div>
    <div class="wrap-input100">
        <input class="input100" type="text" asp-for="Phone" >
        <span class="focus-input100"></span>
        <span class="label-input100">Số điện thoại</span>
    </div>
    <input type="hidden" asp-for="Email">

    <div class="container-login100-form-btn">
        <button class="login100-form-btn signup" type="submit">
            đăng ký
        </button>
    </div>


    <div class="loginSignUpSeparator">
        <span class="textInSeparator" aria-label="or">đã có tài khoản</span>
    </div>


    <div class="container-login100-form-btn">
        <a href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl})" class="login100-form-btn signin">
            đăng nhập
        </a>
    </div>   
</form>