﻿@using Suno.Acl.Models.Account
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout_Signin.cshtml";
}

@if (Model.EnableLocalLogin)
{
    <form asp-route="Login" class="login100-form validate-form">
        <input type="hidden" asp-for="ReturnUrl" />
        <span class="login100-form-title p-b-43">
            đăng nhập
        </span>								      
        @Html.Partial("_ValidationSummary")
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <input class="input100" type="text" asp-for="Username" autofocus>
            <span class="focus-input100"></span>
            <span class="label-input100">email/tên đăng nhập</span>
        </div>
						
        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="input100" type="password" asp-for="Password" autocomplete="off">
            <span class="focus-input100"></span>
            <span class="label-input100">mật khẩu</span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-32">
            @if (Model.AllowRememberLogin)
            {
                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me"  asp-for="RememberLogin">
                    <label class="label-checkbox100" for="ckb1">
                        ghi nhớ cho lần đăng nhập sau
                    </label>
                </div>
            }
            <div>
                <a href="#" class="txt1">
                    lấy lại mật khẩu?
                </a>
            </div>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn signin" name="button" value="login">
                đăng nhập
            </button>
        </div>
    
        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="login100-form-social flex-c-m p-t-20 p-b-20">
                @foreach (var provider in Model.VisibleExternalProviders)
                {
                    if (provider.DisplayName == "Facebook")
                    {
                        <a class="btn-face m-b-20"
                           asp-action="ExternalLogin"
                           asp-route-provider="@provider.AuthenticationScheme"
                           asp-route-returnUrl="@Model.ReturnUrl">
                            <i class="fa fa-facebook-official"></i>
                            Facebook
                        </a>
                    }
                    if (provider.DisplayName == "Google")
                    {
                        <a class="btn-google m-b-20"
                           asp-action="ExternalLogin"
                           asp-route-provider="@provider.AuthenticationScheme"
                           asp-route-returnUrl="@Model.ReturnUrl">
                            <img src="~/login/images/icons/icon-google.png" alt="GOOGLE">
                            Google
                        </a>
                    }
                }
            </div>
        }
				
        <div class="loginSignUpSeparator">
            <span class="textInSeparator" aria-label="or">hoặc</span>
        </div>


        <div class="container-login100-form-btn">
            <a href="@Url.Action("Signup", "Account", new { returnUrl = Model.ReturnUrl})" class="login100-form-btn signup" >
                đăng ký sử dụng
            </a>
        </div>
        <div class="row">
            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
            {
                <div class="alert alert-warning">
                    <strong>Invalid login request</strong>
                    There are no login schemes configured for this client.
                </div>
            }
        </div>
    </form>

}

@*

<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>    
    </form>
      <form class="login-form" id="sign-up">
          <input type="text" placeholder="username" asp-for="Username" autofocus/>
          <input type="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
  </div>
</div>
*@