﻿@using Suno.Acl.Models.Account;
@model ResetPasswordModel
@{
    ViewBag.Title = "Đặt lại mật khẩu | SUNO.vn";
    Layout = "_Layout_Login";
}


<div class="col-md-6 col-lg-5 col-sm-8 mx-auto">
    <div class="card border-none">
        <div class="card-body">
            <div class="mt-4">
                @Html.Partial("_ValidationSummary")
                <h3>Đặt lại mật khẩu</h3>                
                <form asp-route="ResetPassword">
                    <div class="form-group">                        
                        <input type="password" class="form-control" placeholder="Nhập mật khẩu mới của bạn" asp-for="Password" autofocus>
                    </div>
                    <button name="button" value="reset" class="btn btn-primary float-right">Đặt lại mật khẩu</button>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>       
    </div>
</div>