﻿@using Suno.Acl.Models.Account;
@{
    ViewBag.Title = "Đặt lại mật khẩu | SUNO.vn";
    Layout = "_Layout_Login";
}

<div class="col-md-6 col-lg-5 col-sm-8 mx-auto">
    <div class="card border-none">
        <div class="card-body">
            <div class="mt-4">
                <h3>Thông báo</h3>
                <span>Mật khẩu của bạn đã được thay đổi, vui lòng đăng nhập tài khoản bằng mật khẩu mới</span>
                <br />
                <button name="button" onclick="location.href='@Url.Action("Login", "Account")'" class="btn btn-primary float-right">Đăng nhập</button>
            </div>
        </div>
    </div>
@*    <p class="text-white center">Hỗ trợ: 02871.088.188</p>*@
</div>