@using Suno.Acl.Models.Account;
@using Suno.Acl.Infrastructure

@model SignupViewModel
@{
    ViewBag.Title = "Đăng ký | SUNO.vn";
    Layout = "_Layout_Login";

    var loginVM = (LoginViewModel)ViewBag.LoginVM;
}
@inject AppSettings AppSettings

<div class="col-md-6 col-lg-5 col-sm-8 mx-auto">
    <div class="card border-none">
        <div class="card-body">
            <div class="mt-4">
                @Html.Partial("_ValidationSummary")
                <form asp-route="Signup" class="validate-form" id="signup-form">
                    <h3 class="header">Đăng ký </h3>
                    <div class="form-group validate-input" data-validate="Email không đúng định dạng">
                        <input type="email" class="form-control input100" placeholder="* Email" asp-for="Email" data-validate="Email không đúng định dạng">
                    </div>
                    <div class="form-group validate-input" data-validate="vui lòng nhập mật khẩu">
                        <input type="password" class="form-control input100" placeholder="* Mật khẩu" asp-for="Password">
                    </div>
                    <div class="form-group validate-input" data-validate="Vui lòng nhập tên cửa hàng">
                        <input type="text" class="form-control input100" placeholder="*Tên cửa hàng" asp-for="CompanyName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Người liên hệ" asp-for="FullName">
                    </div>
                    <div class="form-group validate-input" data-validate="Vui lòng nhập số điện thoại để được hỗ trợ tốt hơn">
                        <input type="text" class="form-control input100" placeholder="* Điện thoại" asp-for="Phone">
                    </div>

                    <div style="display:none!important">
                        <input type="hidden" asp-for="Latitude">
                        <input type="hidden" asp-for="Longitude">
                    </div>

                    @*<div class="form-group">
                            <select asp-for="Industry" class="form-control" asp-items="@((List<SelectListItem>)ViewData["Industries"])" style="height:45px">
                            </select>
                        </div>

                        <div class="form-group">
                            <select asp-for="ProvinceId" class="form-control" asp-items="@((List<SelectListItem>)ViewData["Provinces"])" style="height:45px">
                            </select>
                        </div>*@


                    <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                </form>
                <div class="clearfix"></div>
                <p class="content-divider center mt-4"><span>Hoặc</span></p>
                <div class="center i">đăng ký sử dụng</div>
            </div>
            @if (loginVM.VisibleExternalProviders.Any())
            {
                <p class="mt-4 social-login text-center">
                    @foreach (var provider in loginVM.VisibleExternalProviders)
                    {
                        if (provider.DisplayName == "Facebook" && AppSettings.EnableOAuthFacebook)
                        {
                            <a class="btn btn-facebook"
                               asp-action="ExternalLogin"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                <em class="ion-social-facebook"></em>
                            </a>
                        }
                        if (provider.DisplayName == "Google" && AppSettings.EnableOAuthGoogle)
                        {
                            <a class="btn btn-google"
                               asp-action="ExternalLogin"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                <em class="ion-social-googleplus"></em>
                            </a>
                        }

                        if (provider.DisplayName == "Zalo" && AppSettings.EnableOAuthZalo)
                        {
                            <a class="btn"
                               asp-action="ExternalLogin"
                               asp-route-provider="@provider.AuthenticationScheme"
                               asp-route-returnUrl="@Model.ReturnUrl">
                                <img src="~/zalo.png" width="40" />
                            </a>
                        }
                    }
                </p>
            }
        </div>
    </div>
    <p class="text-center i mt-4" style="color: white">
        Đã có tài khoản? <a style="color:white" href="@Url.Action("Login", "Account", new { returnUrl = ViewBag.ReturnUrl})" class="login100-form-btn signin">Đăng nhập</a>
    </p>
</div>


<script>

    (function () {
        navigator.geolocation.getCurrentPosition((result) => {
            console.log('result', result);

            $('#Latitude').val(result.coords.latitude);
            $('#Longitude').val(result.coords.longitude);

        }, err => {
            console.log('err', err);
        })

    })();
    
</script>