<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Yêu cầu đổi mật khẩu</title>
</head>

<body style="font-family:Arial, Helvetica, sans-serif; font-size: 11pt;">
    <table width="100%" style="border: 0 none #aaa; background:#f4f4f4;color:#4f4f4f">
        <tr>
            <td align="center">
                <table width="600" style="border: 0 none #aaa; background-color: #FFF">
                    <thead>
                    <tr>
                        <td bgcolor="#0b87c9" height="40">
                            <img alt="Suno.vn" src="http://cdn.suno.vn/Content/logo.png" />
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p style="margin:20px;">Suno.vn xin chào,@Model.Email</p>
                                <p style="margin:20px;">Xin hãy sử dụng liên kết bên dưới để đổi mật khẩu!</p>

                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table width="180">
                                    <tr>
                                        <td align="center">
                                            <a href="@Model.ResetLink" style="font-size:16px;text-align:center;font-weight:normal;text-decoration:none;line-height:30px;width:100%; padding: 10px;  background-color:#0b87c9" target="_blank"><span style="color:#ffffff">Đổi mật khẩu!</span></a>
                                        </td>
                                    </tr>


                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="margin:20px">
                                    Hoặc quý khách có thể copy liên kết sau vào trình duyệt
                                    @Model.ResetLink
                                </p>
                                <p style="margin:20px">
                                    Liên kết trên sẽ bị hết hạn trong vòng 24h.
                                </p>
                                <p style="margin:20px">
                                    Xin cám ơn,
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="border-bottom:1px solid #ccc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="margin-left:20px;">
                                    Suno.vn - 703 Lê Hồng Phong, P.12, Q.10, HCM. Điện thoại: 02871.088.188
                                </p>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>
