﻿@using Suno.Core.Acl.Domain.V2
@model Suno.Core.Acl.Domain.V2.Client

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="display: none">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label"></label>
                    <input asp-for="ClientId" class="form-control" />
                    <span asp-validation-for="ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientSecret" class="control-label"></label>
                    <input asp-for="ClientSecret" class="form-control" />
                    <span asp-validation-for="ClientSecret" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientName" class="control-label"></label>
                    <input asp-for="ClientName" class="form-control" />
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccessTokenLifetime" class="control-label"></label>
                    <input asp-for="AccessTokenLifetime" class="form-control" />
                    <span asp-validation-for="AccessTokenLifetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccessTokenType" class="control-label"></label>
                    <input asp-for="AccessTokenType" class="form-control" />
                    <span asp-validation-for="AccessTokenType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AllowAccessTokensViaBrowser" /> @Html.DisplayNameFor(model => model.AllowAccessTokensViaBrowser)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AllowOfflineAccess" /> @Html.DisplayNameFor(model => model.AllowOfflineAccess)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ClientUri" class="control-label"></label>
                    <input asp-for="ClientUri" class="form-control" />
                    <span asp-validation-for="ClientUri" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityTokenLifetime" class="control-label"></label>
                    <input asp-for="IdentityTokenLifetime" class="form-control" />
                    <span asp-validation-for="IdentityTokenLifetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RequireConsent" /> @Html.DisplayNameFor(model => model.RequireConsent)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RedirectUris" class="control-label"></label>
                    <input asp-for="RedirectUris" class="form-control" />
                    <span asp-validation-for="RedirectUris" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostLogoutRedirectUris" class="control-label"></label>
                    <input asp-for="PostLogoutRedirectUris" class="form-control" />
                    <span asp-validation-for="PostLogoutRedirectUris" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>