﻿@using Suno.Core.Acl.Domain.V2
@model List<Suno.Core.Acl.Domain.V2.Client>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h2>List clients</h2>

    <p>
        <a asp-action="Create">Create new</a>
    </p>
    <p>
        Total: @Model.Count clients
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>
                    Client Id
                </th>
                <th>
                    Client name
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Clone" asp-route-id="@item.Id">Clone</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <h2>So sánh</h2>

        <form asp-action="Compare" method="get">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Client 1</label>
                <div class="col-sm-10">
                    <select class="form-control" name="first">
                        <option>-- Chọn --</option>
                        @foreach (var client in Model)
                        {
                            <option value="@client.Id">[@client.Id] @client.ClientName </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Client 2</label>
                <div class="col-sm-10">
                    <select class="form-control" name="second">
                        <option>-- Chọn --</option>
                        @foreach (var client in Model)
                        {
                            <option value="@client.Id">[@client.Id] @client.ClientName</option>
                        }
                    </select>
                </div>
            </div>
        
            <div class="form-group row">
                <div class="">
                    <button type="submit" class="btn btn-primary mb-2">So sánh</button>
                </div>
            </div>

        </form>
    </div>
</div>