﻿@model Suno.Acl.Models.Account.ChangePasswordModelView
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="p-3 bg-white">
                <h3>Thay đổi mật khẩu</h3>
                @Html.Partial("_ValidationSummary")
                <form asp-route="Index" class="validate-form">
                    <div class="form-group">
                        <label for="OldPassword" class="bmd-label-floating">Mật khẩu cũ</label>
                        <input type="password" class="form-control" asp-for="OldPassword">
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="NewPassword" class="bmd-label-floating">Mật khẩu mới</label>
                        <input type="password" class="form-control" asp-for="NewPassword">
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="RepeatPassword" class="bmd-label-floating">Nhắc lại mật khẩu</label>
                        <input type="password" class="form-control"   asp-for="RepeatPassword">
                    </div>
                   
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary mb-2">Đổi mật khẩu</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

