@using Suno.Acl.Models.Account;
@model ForgotPasswordModel
@{
    ViewBag.Title = "Quên mật khẩu | SUNO.vn";
    Layout = "_Layout_Login";
}

    <div class="col-md-6 col-lg-5 col-sm-8 mx-auto">
        <div class="card border-none">
            <div class="card-body">
                <div class="mt-4">
                    @Html.Partial("_ValidationSummary")                    
                    <form asp-route="ForgotPassword">
                        <h3 class="header">Quên mật khẩu? </h3>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Nhập email của bạn" asp-for="email" autofocus>
                        </div>
                        <button name="button" value="reset" class="btn btn-primary float-right">Lấy lại mật khẩu</button>
                        <div class="form-group">
                            <p class="i">Nếu là nhân viên cửa hàng, bạn vui lòng liên hệ Quản lý của mình để được cấp lại mật khẩu!</p>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    
                    <p class="mt-4 text-center">
                        Quay lại trang <a href="@Url.Action("Login", "Account", new {returnUrl = "/"})">đăng nhập</a>
                    </p>
                </div>
            </div>       
        </div>
    </div>