@using Suno.Acl.Infrastructure
@using Suno.Acl.Models.Account
@model LoginViewModel
@inject AppSettings AppSettings

@{
    ViewBag.Title = "Đăng nhập | SUNO.vn";
    Layout = "_Layout_Login";
}

@if (Model.EnableLocalLogin)
{
    <div class="col-md-6 col-lg-5 col-sm-8 mx-auto">
        <div class="card border-none">
            <div class="card-body">
                <div class="mt-4">
                    @Html.Partial("_ValidationSummary")
                    <form asp-route="Login" class="validate-form">
                        <h3 class="header">Đăng nhập</h3>
                        <div class="form-group validate-input" data-validate="Vui lòng nhập tên đăng nhập">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="form-control input100" placeholder="Tên đăng nhập" asp-for="Username" autofocus>
                        </div>
                        <div class="form-group validate-input" data-validate="vui lòng kiểm tra mật khẩu">
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control input100" placeholder="Mật khẩu" asp-for="Password" autocomplete="off">
                        </div>
                        <button name="button" value="login" class="btn btn-primary float-right">Đăng nhập</button>
                        <p class="mt-4 text-left">
                            <a href="@Url.Action("ForgotPassword", "Account")">Quên mật khẩu</a>
                        </p>
                    </form>
                    <div class="clearfix"></div>
                    <p class="content-divider center mt-4">
                        <span>hoặc</span>
                    </p>
                     <div style="text-align: center; font-style: italic">đăng nhập bằng </div>
                </div>

                @if (Model.VisibleExternalProviders.Any())
                {
                    <p class="mt-4 social-login text-center">
                        @foreach (var provider in Model.VisibleExternalProviders)
                        {
                            if (provider.DisplayName == "Facebook" && AppSettings.EnableOAuthFacebook)
                            {
                                <a class="btn btn-facebook"
                                   asp-action="ExternalLogin"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    <em class="ion-social-facebook"></em>
                                </a>
                            }
                            if (provider.DisplayName == "Google" && AppSettings.EnableOAuthGoogle)
                            {
                                <a class="btn btn-google"
                                   asp-action="ExternalLogin"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    <em class="ion-social-googleplus"></em>
                                </a>
                            }

                            if (provider.DisplayName == "Zalo" && AppSettings.EnableOAuthZalo)
                            {
                                <a class="btn"
                                   asp-action="ExternalLogin"
                                   asp-route-provider="@provider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl">
                                    <img src="~/zalo.png" width="40" />
                                </a>
                            }
                        }
                    </p>
                }
                <p class="mt-4 text-center">
                    Chưa có tài khoản? <a href="@Url.Action("Signup", "Account", new {returnUrl = Model.ReturnUrl})">Đăng ký</a>
                </p>
            </div>

            <div class="row">
                @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
                {
                    <div class="alert alert-warning">
                        <strong>Invalid login request</strong>
                        There are no login schemes configured for this client.
                    </div>
                }
            </div>
        </div>
    </div>
}