﻿@using Suno.Acl.Models.Account;
@model SignupViewModel
@{    
    Layout = "~/Views/Shared/_Layout_Signin.cshtml";
}

<form asp-route="Signup" class="login100-form validate-form">
    <input type="hidden" asp-for="ReturnUrl"/>
    <span class="login100-form-title p-b-43">
        đăng ký mới
    </span>
    @Html.Partial("_ValidationSummary")
    <div class="wrap-input100 validate-input" data-validate="Email không đúng định dạng">
        <input class="input100" type="text" asp-for="Email">
        <span class="focus-input100"></span>
        <span class="label-input100">Email</span>
    </div>
    <div class="wrap-input100 validate-input"   data-validate="vui lòng nhập mật khẩu">
        <input class="input100" type="password" asp-for="Password">
        <span class="focus-input100"></span>
        <span class="label-input100">Mật khẩu</span>
    </div>
    <div class="wrap-input100">
        <input class="input100" type="text" asp-for="FullName">
        <span class="focus-input100"></span>
        <span class="label-input100">Họ tên</span>
    </div>

    <div class="wrap-input100 validate-input"  data-validate="Vui lòng nhập tên công ty">
        <input class="input100" type="text" asp-for="CompanyName">
        <span class="focus-input100"></span>
        <span class="label-input100">Tên công ty</span>
    </div>
    <div class="wrap-input100">
        <input class="input100" type="text" asp-for="StoreName">
        <span class="focus-input100"></span>
        <span class="label-input100">Tên cửa hàng</span>
    </div>

    <div class="wrap-input100">
        <input class="input100" type="text" asp-for="Phone" >
        <span class="focus-input100"></span>
        <span class="label-input100">Số điện thoại</span>
    </div>


    <div class="container-login100-form-btn">
        <button class="login100-form-btn signup" type="submit">
            đăng ký
        </button>
    </div>


    <div class="loginSignUpSeparator">
        <span class="textInSeparator" aria-label="or">đã có tài khoản</span>
    </div>


    <div class="container-login100-form-btn">
        <a href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl})" class="login100-form-btn signin">
            đăng nhập
        </a>
    </div>   

@*    <div class="text-center p-t-46 p-b-20">
        <span class="txt2">
            hoặc đăng ký bằng
        </span>
    </div>

    <div class="login100-form-social flex-c-m p-t-46 p-b-20">
        <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
            <i class="fa fa-facebook-f" aria-hidden="true"></i>
        </a>

        <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </div>*@
</form>