﻿@using Suno.Acl.Models.Account;
@model SignupViewModel
@{
    ViewBag.Title = "Đăng ký | SUNO.vn";
    Layout = "_Layout_Login";
}

<div class="col-md-6 col-lg-5 col-sm-8 mx-auto">
    <div class="card border-none">
        <div class="card-body">
            <div class="mt-4">
                @Html.Partial("_ValidationSummary")
                <form asp-route="Signup" class="validate-form">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Email" />
                    <div class="form-group validate-input" data-validate="Email không đúng định dạng">
                        <input type="email" class="form-control input100" placeholder="*Email" value="@Model.Email" data-validate="Email không đúng định dạng" disabled="">
                    </div>
                    <div class="form-group validate-input" data-validate="Vui lòng nhập tên công ty">
                        <input type="text" class="form-control input100" placeholder="*Tên công ty" asp-for="CompanyName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tên cửa hàng" asp-for="StoreName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Họ và tên" asp-for="FullName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Số điện thoại" asp-for="Phone">
                    </div>
                    <div class="form-group">
                        <select asp-for="Industry" class="form-control" asp-items="@((List<SelectListItem>)ViewData["Industries"])" style="height:45px"></select>
                    </div>

                    <div class="form-group">
                        <select asp-for="ProvinceId" class="form-control" asp-items="@((List<SelectListItem>)ViewData["Provinces"])" style="height:45px"></select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                </form>
                <div class="clearfix"></div>
                <p class="content-divider center mt-4"><span>Hoặc</span></p>
            </div>
            <p class="text-center">
                Đã có tài khoản? <a href="@Url.Action("Login", "Account", new { returnUrl = Model.ReturnUrl})" class="login100-form-btn signin">Đăng nhập</a>
            </p>
        </div>
    </div>
</div>