﻿@model Suno.Acl.Models.Clients.CompareViewModel
@{
    ViewData["Title"] = "Compare";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var leftPanelModel = Model.FirstClient;
    var rightPanelModel = new Suno.Acl.Models.Clients.CompareViewModel { FirstClient = Model.SecondClient, SecondClient = Model.FirstClient };
}



<div class="container">

    <table class="table table-striped">
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.Id)</td>
            <td>
                @Html.DisplayFor(model => model.FirstClient.Id)
                <a asp-action="Edit" asp-route-id="@Model.FirstClient.Id" target="_blank">Edit</a>
            </td>
            <td>
                @Html.DisplayFor(model => model.SecondClient.Id)
                <a asp-action="Edit" asp-route-id="@Model.SecondClient.Id" target="_blank">Edit</a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.ClientId)</td>
            <td>
                @Html.DisplayFor(model => model.FirstClient.ClientId)
            </td>
            <td class="@(Model.FirstClient.ClientId != Model.SecondClient.ClientId ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.ClientId)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.ClientSecret)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.ClientSecret)</td>
            <td class="@(Model.FirstClient.ClientSecret != Model.SecondClient.ClientSecret ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.ClientSecret)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.ClientName)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.ClientName)</td>
            <td class="@(Model.FirstClient.ClientName != Model.SecondClient.ClientName ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.ClientName)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.AccessTokenLifetime)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.AccessTokenLifetime)</td>
            <td class="@(Model.FirstClient.AccessTokenLifetime != Model.SecondClient.AccessTokenLifetime ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.AccessTokenLifetime)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.AccessTokenType)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.AccessTokenType)</td>
            <td class="@(Model.FirstClient.AccessTokenType != Model.SecondClient.AccessTokenType ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.AccessTokenType)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.AllowAccessTokensViaBrowser)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.AllowAccessTokensViaBrowser)</td>
            <td class="@(Model.FirstClient.AllowAccessTokensViaBrowser != Model.SecondClient.AllowAccessTokensViaBrowser ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.AllowAccessTokensViaBrowser)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.AllowOfflineAccess)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.AllowOfflineAccess)</td>
            <td class="@(Model.FirstClient.AllowOfflineAccess != Model.SecondClient.AllowOfflineAccess ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.AllowOfflineAccess)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.ClientUri)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.ClientUri)</td>
            <td class="@(Model.FirstClient.ClientUri != Model.SecondClient.ClientUri ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.ClientUri)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.Description)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.Description)</td>
            <td class="@(Model.FirstClient.Description != Model.SecondClient.Description ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.Description)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.IdentityTokenLifetime)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.IdentityTokenLifetime)</td>
            <td class="@(Model.FirstClient.IdentityTokenLifetime != Model.SecondClient.IdentityTokenLifetime ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.IdentityTokenLifetime)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.RequireConsent)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.RequireConsent)</td>
            <td class="@(Model.FirstClient.RequireConsent != Model.SecondClient.RequireConsent ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.RequireConsent)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.Enabled)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.Enabled)</td>
            <td class="@(Model.FirstClient.Enabled != Model.SecondClient.Enabled ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.Enabled)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.RedirectUris)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.RedirectUris)</td>
            <td class="@(Model.FirstClient.RedirectUris != Model.SecondClient.RedirectUris ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.RedirectUris)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstClient.PostLogoutRedirectUris)</td>
            <td>@Html.DisplayFor(model => model.FirstClient.PostLogoutRedirectUris)</td>
            <td class="@(Model.FirstClient.PostLogoutRedirectUris != Model.SecondClient.PostLogoutRedirectUris ? "text-danger" : "")">
                @Html.DisplayFor(model => model.SecondClient.PostLogoutRedirectUris)
            </td>
        </tr>

        <tr>
            <td colspan="3" class="font-weight-bold">Scopes</td>
        </tr>

        @{
            var maxScopes = Model.FirstClient.ClientScopes.Count > Model.SecondClient.ClientScopes.Count ? Model.FirstClient.ClientScopes.Count : Model.SecondClient.ClientScopes.Count;
        }
        @for (int i = 0; i < maxScopes; i++)
        {
            <tr>
                <td></td>
                <td>
                    @(i < Model.FirstClient.ClientScopes.Count ? Model.FirstClient.ClientScopes[i].Scope : "")
                </td>
                <td>
                    @(i < Model.SecondClient.ClientScopes.Count ? Model.SecondClient.ClientScopes[i].Scope : "")
                </td>
            </tr>
        }

        <tr>
            <td colspan="3" class="font-weight-bold">Grant Types</td>
        </tr>

        @{
            var maxGrantTypes = Model.FirstClient.ClientGrantTypes.Count > Model.SecondClient.ClientGrantTypes.Count ? Model.FirstClient.ClientGrantTypes.Count : Model.SecondClient.ClientGrantTypes.Count;
        }
        @for (int i = 0; i < maxGrantTypes; i++)
        {
            <tr>
                <td></td>
                <td>
                    @(i < Model.FirstClient.ClientGrantTypes.Count ? Model.FirstClient.ClientGrantTypes[i].GrantType : "")
                </td>
                <td>
                    @(i < Model.SecondClient.ClientGrantTypes.Count ? Model.SecondClient.ClientGrantTypes[i].GrantType : "")
                </td>
            </tr>
        }
    </table>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>