﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Core.Flash

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Love Authority." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <section class="hero">
        <div flashes></div>
        <div class="container">
            <div class="l-form">
                <div class="row">
                    <div class="col-sm-4 text-center mx-auto logo">
                        <div class="mt-2">
                            <img src="~/img/logo.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    @RenderBody()
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/login/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>