﻿@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Vui lòng kiểm tra lại thông tin </strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}