/*
:root {
    --blue: #0b87c9;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*/


:root {
    --blue: #0b87c9;
}

body {
    background: #fff;
    font-size: 0.875rem;
    padding-bottom: 60px;
}

.bg-suno-main {
    background: var(--blue);
}

.logo {
    height: 32px;
}

.header {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
}

.dropdown-menu {
    font-size: 0.75rem;
}

    .dropdown-menu .dropdown-item {
        font-size: 14px;
    }

.footer {
    min-height: 60px;
    line-height: 60px;
}

.footer-center {
    text-align: center;
}

.avatar img {
    height: 30px;
    width: 30px;
    border-radius: 100%
}


.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#0c86ca 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

/*----------- FOR CHROME AUTO COMPLETE ---------------*/
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

Additionally, you can use this to change the text color:
/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: yellow !important;
}


.clickable:hover {
    cursor: pointer;
}

.user-nav .nav-item {
    margin-left: 10px;
}