html,
body {
    width: 100%;
    height: 100%;
    font-family: "Segoe UI","Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    background-color: #000;
    color: #333;    
    font-size:14px;
}
.logo{
    /* width: 120px; */
    margin-bottom: 20px; 
}

a{
    color: #0b87c9;
}

.hero{
    background: #0b87c9;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    position: absolute;
}
/*
* {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }
  */

/*
.hero:after{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
}
*/
.hero .container{
    z-index: 3;
    position: relative;
}
.hero .card{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}
a, a:hover{
    /* color: #fff; */
    text-decoration: underline;
}
.i {font-style: italic}
.small {font-size: 80%}
.header {color: #478fca !important; font-weight: normal}
@media (min-width:576px){
    section{
        /*padding: 40px 0px;*/
    }
    .l-form {
        padding: 40px 0px;
    }
    .hero .card .card-block {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (max-width:576px){
    section{
        /*padding: 20px;*/
    }
    .l-form {
        padding: 20px;
    }
}
.bg-alt {
    background-color: #fff;
}
.btn{
    -webkit-transition: 350ms ease all;
    transition: 350ms ease all;
    /* text-transform: uppercase; */
    font-weight: 400;
    padding: .6rem 1.5rem;
    cursor: pointer;
}
.btn:hover, .btn:focus {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}
.btn-primary{
    /* background-color: #ff5722 !important;
    border-color: #ff5722 !important; */
    background: #0b87c9 !important;
    border-color: #0b87c9 !important;
}
.btn-primary:hover, .btn-primary:focus{
    /* color: #fff !important; */
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-control{
    height: 45px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    /* border-color: rgba(255, 255, 255, 0.5); */
    /* color: #FFFFFF;  */
}
.form-control:focus {
    /* border-color: #FFFFFF; */
    /* background-color: transparent; */
    /* color: #FFFFFF;  */
}
.border-none{
    border: none !important;
    border-color: transparent !important;
}
.text-primary{
    color: #ff5722 !important;
}
.custom-control-input:checked~.custom-control-indicator {
    /* color: #fff; */
    background-color: #ff5722;
    outline-color: #ff5722; 
}
.content-divider.center {
    text-align: center;
}
.content-divider {
    position: relative;
    z-index: 1;
}
.content-divider > span, .content-divider > a {
    background-color: #FFF;
    /* color: #fff; */
    display: inline-block;
    padding: 2px 12px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
}
.content-divider > span:before, .content-divider > a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    background-color: #ddd;
    width: 100%;
    z-index: -1;
}
.social-login .btn{
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.6rem 0;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.social-login .btn-twitter {
    background: #00aced;
}
.social-login .btn-facebook {
    background: #3b5998;
}
.social-login .btn-google {
    background: #dd4b39;
}
.social-login .btn-linkedin {
    background: #007bb6;
}
.social-login .btn-github {
    background: #000000;
}

.rememberme{
    font-size: 12px;
    line-height: 2;
}

.content-divider{
    font-size:12px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #ffc107;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px #ffc107; */
  box-shadow: none;
  outline: 0 none;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 100;
    max-width: 70%;
    background-color: #fff;
    /*border: 1px solid #c80000;*/
    /*border-radius: 2px;*/
    padding: 4px 25px 4px 10px;
    top: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    /*font-family: Segoe UI, Poppins-Regular;*/
    color: #c80000;
    font-size: 11px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

#signup-form .alert-validate:before {
    top: 20px;
}
/*.alert-validate::after {*/
/*content: "\f12a";*/
/*font-family: FontAwesome;*/
/*display: block;*/
/*position: absolute;*/
/*z-index: 110;*/
/*color: #c80000;*/
/*font-size: 16px;*/
/*top: 50%;*/
/*-webkit-transform: translateY(-50%);*/
/*-moz-transform: translateY(-50%);*/
/*-ms-transform: translateY(-50%);*/
/*-o-transform: translateY(-50%);*/
/*transform: translateY(-50%);*/
/*right: 18px;*/
/*}*/
.alert-validate::before {
    visibility: visible;
    opacity: 1;
}

/*
@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
*/
