﻿<div class="p-3 bg-white">
    <h3>Đổi mật khẩu</h3>
    <form>
        <div class="form-group">
            <label for="oldPassword" class="bmd-label-floating">Mật khẩu cũ</label>
            <input type="password" class="form-control" id="oldPassword" autocomplete="off" >
        </div>
        <div class="form-group bmd-form-group"> <!-- manually specified -->
            <label for="newPassword" class="bmd-label-floating">Mật khẩu mới</label>
            <input type="password" class="form-control" id="newPassword" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Đổi mật khẩu</button>
    </form>    
</div>

