﻿@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Authentication

@using Suno.Acl.Infrastructure
@model Suno.Acl.Models.Home.UserProfileViewModel
@inject WorkContext WorkContext
@inject AppSettings AppSettings

@{
    ViewBag.Title = "Tài khoản | SUNO.vn";
    Layout = "_Layout";

    string avatar = "/img/no-person.jpg";

    if (!true.Equals(ViewData["signed-out"]))
    {
        if (WorkContext.UserProfile != null)
        {
            avatar = string.IsNullOrEmpty(WorkContext.UserProfile.Avatar) ? avatar : AppSettings.AppsCdnUrl + "/" + WorkContext.UserProfile.Avatar + "?h=150";
        }
    }
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="p-3 bg-white">
                <h3>Thông tin cá nhân</h3>
                @Html.Partial("_ValidationSummary")
                <form asp-route="Index" class="validate-form">
                    <div class="form-group">
                        <label for="formGroupExampleInput" class="bmd-label-floating">Họ và tên</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" asp-for="DisplayName">
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="formGroupExampleInput2" class="bmd-label-floating">Số điện thoại</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" asp-for="PhoneNumber">
                    </div>
                    <div class="form-group bmd-form-group">
                        <!-- manually specified -->
                        <label for="formGroupExampleInput2" class="bmd-label-floating">Email</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" disabled="disabled" asp-for="Email">
                    </div>
                    <input type="hidden" asp-for="Avatar">
                    <div class="form-group">
                        <div class="clickable" id='avatarDisplayBtn'>
                            <img src="@avatar" id='avatarDisplay'  />
                        </div>
                    </div>

                    <div class="form-group" style="display: none">
                        <label for="avatarUpload" class="bmd-label-floating">Avatar</label>
                        <input type="file" class="form-control" id="avatarUpload" />
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary mb-2">Lưu thay đổi</button>
                            </div>    
                        </div>
                        
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@*@Html.Partial("_ValidationSummary")
    <form asp-route="Login" class="validate-form">
        <div class="form-group validate-input" data-validate="Email không đúng định dạng">
            <label>Tài khoản đăng nhập</label>
            <input type="email" class="form-control input100" placeholder="Địa chỉ email"  asp-for="Username" autofocus>
        </div>
        <div class="form-group validate-input" data-validate="vui lòng kiểm tra mật khẩu">
            <label>Mật khẩu</label>
            <input type="password" class="form-control input100" placeholder="Mật khẩu" asp-for="Password" autocomplete="off">
        </div>
        <button name="button" value="login" class="btn btn-primary float-right">Đăng nhập</button>
        <p class="mt-4 text-left">
            <a href="@Url.Action("ForgotPassword", "Account")">Quên mật khẩu</a>
        </p>
    </form>
    <div class="clearfix"></div>
    <p class="content-divider center mt-4">
        <span>hoặc</span>
    </p>*@

@*<div class="col-sm-12">
        @await Html.PartialAsync("Credential")
    </div>*@


@section scripts {
    <script>
        $(document).ready(() => {

            $('#avatarDisplayBtn').click(() => {
                $("#avatarUpload").click();
            });

            $("#avatarUpload").change((event) => {

                var cdn = '@(AppSettings.AppsCdnUrl + "/")';
                var tenantId = '@WorkContext.UserProfile.TenantId';

                var files = event.target.files;

                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append('files', files[i], files[i].name);
                }
                $.ajax({
                    type: "POST",
                    url: '@(AppSettings.AppsCdnUrl + "/api/files/upload")',
                    beforeSend: function(request) {
                        request.setRequestHeader("tenantId", tenantId);
                        request.setRequestHeader("Accept", 'application/json');
                    },
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (response) {
                        if (response[0].isSuccess == true) {
                            $('#avatarDisplay').attr('src', cdn + response[0].url + "?h=150");
                            $('[name="Avatar"]').val(response[0].url);
                        }

                    },
                    error: function () {
                        alert("There was error uploading files!");
                    }
                });


            })
        })
    </script>
}