﻿@model Suno.Acl.Models.Home.HomeIndexViewModel
@{
    ViewBag.Title = "Tài khoản | SUNO.vn";
    Layout = "_Layout";


    var posSite = Model.AppSettings.AppsPosUrl;
    var posUrl = Model.AppSettings.AppsPosUrl + "/pos";
    var managementUrl = posSite;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
    .bg-blue {
        background: #0b87c9;
    }

    .circle {
        border-radius: 100%;
    }

    .feature {
        color: white;
        padding: 20px;
        font-size: 60px;
        /*margin-right: 20px;*/
    }

    .feature-left {
        margin-right: 20px;
    }
    .feature-right {
        margin-left: 20px;
    }

    .feature-wrapper .title {
        font-size: 24px;
        margin-top: 18px;
        font-weight: bold;
        color: #444444;
    }
</style>

<div class="p-3 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <div style="margin-top: 70px; margin-bottom: 60px; color: #444">
                        <h3 class="text-center">Chào mừng @Model.DisplayName đến với phần mềm bán hàng Suno</h3>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            
                            <ul class="list-unstyled">
                                <li class="media">
                                    <a href="@posUrl"><i class="fa fa-shopping-cart feature bg-blue circle feature-left"></i></a>
                                    <div class="media-body">
                                        <a href="@posUrl"><h5 class="mt-0">Bán hàng</h5></a>
                                        <p>Bạn có thể bán hàng, thực hiện các chương trình khyến mãi, tích điểm và hàng trăm tính năng ưu việt chỉ có tại <a target="_blank" href="https://suno.vn/">Suno</a>.
                                        </p>
                                    </div>
                                </li>
                                <li class="media my-5 ml-5">
                                    <a href="@managementUrl"><i class="fa fa-briefcase feature bg-blue circle feature-left"></i></a>
                                    <div class="media-body">
                                        <a href="@managementUrl"><h5 class="mt-0">Quản lý</h5></a>
                                        <p>
                                            Việc quản lý sản phẩm, tồn kho, khách hàng, báo cáo và các chương trình khuyến mãi chưa bao giờ đơn giản trước khi có <a target="_blank" href="https://suno.vn/">Suno</a>.
                                        </p>
                                        @*<p>
                                            <ul>
                                                <li><a href="@(posSite + "/main/management/products")">Khai báo sản phẩm</a></li>
                                                <li ><a href="@(posSite + "/main/crm/customers")">Quản lý khách hàng</a></li>
                                                <li ><a href="@(posSite + "/main/report/stocks")">Quản lý tồn kho</a></li>
                                                <li ><a href="@(posSite + "/main/report/revenues")">Báo cáo</a></li>
                                            </ul>
                                        </p>*@
                                    </div>
                                </li>
                                <li class="media my-3">
                                    <a href="@Url.Action("Profile", "Home")"><i class="fa fa-user-circle-o feature bg-blue circle feature-left"></i></a>
                                    <div class="media-body">
                                        <a href="@Url.Action("Profile", "Home")"><h5 class="mt-0">Cập nhật thông tin cá nhân</h5></a>
                                        <p>
                                            Bạn nên cập nhật thông tin cá nhân, số điện thoại, hình ảnh đại diện... Điều này sẽ giúp bạn dễ dàng hơn trong việc tìm kiếm và nhận diện
                                        </p>
                                    </div>
                                </li>
                            </ul>

                            
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@*@Html.Partial("_ValidationSummary")
    <form asp-route="Login" class="validate-form">
        <div class="form-group validate-input" data-validate="Email không đúng định dạng">
            <label>Tài khoản đăng nhập</label>
            <input type="email" class="form-control input100" placeholder="Địa chỉ email"  asp-for="Username" autofocus>
        </div>
        <div class="form-group validate-input" data-validate="vui lòng kiểm tra mật khẩu">
            <label>Mật khẩu</label>
            <input type="password" class="form-control input100" placeholder="Mật khẩu" asp-for="Password" autocomplete="off">
        </div>
        <button name="button" value="login" class="btn btn-primary float-right">Đăng nhập</button>
        <p class="mt-4 text-left">
            <a href="@Url.Action("ForgotPassword", "Account")">Quên mật khẩu</a>
        </p>
    </form>
    <div class="clearfix"></div>
    <p class="content-divider center mt-4">
        <span>hoặc</span>
    </p>*@

@*<div class="col-sm-12">
        @await Html.PartialAsync("Credential")
    </div>*@ 