﻿
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Core.Flash

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Love Authority." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <link rel="stylesheet" href="~/css/style.css" />

    <!-- Hotjar Tracking Code for https://login.suno.vn -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 951047, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body>

    <section class="hero">
        <div flashes></div>
        <div class="container">
            <div class="l-form">
                <div class="row">
                    <div class="col-sm-4 text-center mx-auto logo">
                        <div class="mt-2">
                            <img src="~/img/logo.png">
                        </div>
                    </div>
                </div>
                <div class="row">
                    @RenderBody()
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/login/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>