﻿@using IdentityServer4.Extensions
@using Suno.Acl.Infrastructure

@using Core.Flash.Mvc
@using Suno.Acl.Helpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Core.Flash

@inject WorkContext WorkContext
@inject AppSettings AppSettings
@inject CommonHelper CommonHelper

@{
    string name = null;
    string avatar = "/img/no-person.jpg";

    if (!true.Equals(ViewData["signed-out"]))
    {
        if (WorkContext.UserProfile == null)
        {
            name = Context.User?.GetDisplayName();
        }
        else
        {
            name = WorkContext.UserProfile.DisplayName ?? WorkContext.UserProfile.UserName ?? WorkContext.UserProfile.Email;
            avatar = string.IsNullOrEmpty(WorkContext.UserProfile.Avatar) ? avatar : CommonHelper.ImagePath(WorkContext.UserProfile.Avatar) + "?w=100";
        }
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="~/lib/ionicicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />

    <!-- Hotjar Tracking Code for https://login.suno.vn -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 951047, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body>
    <section class="headers">
        <nav class="navbar navbar-expand-sm bg-suno-main">
            <a href="~/" class="navbar-brand">
                <span>
                    <img alt="SUNO.vn" src="~/img/logo.png" class="logo">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto user-nav">
                    @if (!WorkContext.IsAuthenticated)
                    {
                        <li class="nav-item text-white">
                            <a asp-action="Login" asp-controller="Account" style="color: #fff">Đăng nhập</a>
                        </li>
                        <li class="nav-item text-white">
                            <a asp-action="Signup" asp-controller="Account" style="color: #fff">Đăng ký</a>
                        </li>
                    }
                    @if (!string.IsNullOrWhiteSpace(name))
                    {
                        <li class="nav-item dropdown text-white">
                            <span class="nav-link dropdown-toggle avatar clickable" href="#" id="navbarDropdown" role="button"
                                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @name
                                <img src="@avatar" />

                            </span>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-action="Profile" asp-controller="Home">@name</a>
                                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Đổi mật khẩu</a>
                                <span class="dropdown-divider"></span>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Đăng xuất</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </section>

    <div flashes></div>
    @RenderBody()

    <section class="footer mt-3 fixed-bottom bg-suno-main">
        <div class="container-fluid">
            <div class="mx-auto footer-center text-white">
                © 2018 Phần mềm quản lý bán hàng SIÊU ĐƠN GIẢN SUNO.vn
            </div>
        </div>
    </section>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

    @RenderSection("scripts", required: false)
</body>
</html>
